html {
background-image: url(zadnik.png);
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
#menu{
align-items:center;
}
#block{
position:relative;
right:-850px;
margin-rigt:auto;
margin-left:auto;
}

