html {
background-image: url(Fon.png);
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
 #menu {
        margin: 0;
        padding: 0;
        list-style-type: none;
        border: 2px solid #B65759;
        width: 1980px;
        text-align: center;
        background-color: #B65759;
       }
      #menu li { display: inline; }
      #menu a {
        color: #fff;
        /*padding: 0x 10px;*/
        text-decoration: none;
        font-weight: bold;
        display: inline-block;
        width: 250px;
      }
      #menu li { display: inline; }
p{
text-align: justify;
}
