/*html{
width=device-width;
}*/
h1{
position:center;
text-align: center;
width=device-width;
}
html {
background-image: url(Fon.png);
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
 #menu {
        margin-left:-30px;
        margin-top:-10px;
        list-style-type: none;
        border: 2px solid #B65759;
        width:100vw;
        text-align: center;
        background-color: #B65759;
       }
      #menu li { display: inline; }
      #menu a {
        color: #fff;
        padding: 20x 10px;
        text-decoration: none;
        font-weight: bold;
        display: inline-block;
        width:15vw;
      }
      #menu li { display: inline; }

.soberi{
 float:left;
 margin-top:-45px;
 width=device-width
}
h2{
align:left;
width:70vw;
background: linear-gradient(135deg, rgba(255,253,92) 0%,rgba(0,0,0,0) 50%);
mix-blend-mode: lighte
background-repeat: no-repeat;
}
.kartin{
float:right;
margin-right:10px;
margin-top:-10px;
Width=device-width;
}
#center{
line-height: 45px;
text-align:left;
width:100vw;
font-size:22px;
}
